body {
    width: 100%;
    p {
      word-wrap: break-word;
    }
    h3 {
      font-weight: bold;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .kvadratas {
      line-height: 80%;
      margin: 0;
      padding: 0;
      display: block;
      .kvadrato__span {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
}

